* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Manrope', sans-serif;
    background: #e5e5e5;
}
.container {
    max-width: 1240px;
    margin: 0 auto;
}

/* .surname{
    font-size: 22px;
}
.surname_m{
    font-size: 30px;
}
.count{
    color: green;
    font-size: 16px;
    font-weight: 600;
}
p{
    font-size: 16px;
}
.div_orange{
    background-color: lightblue ;
    padding: 50px;
}
.div_blue{
    background-color: lightpink ;
    padding: 50px;
}
.div_red{
    background-color: lightgreen ;
    padding: 50px;
} */










/* стиизация форм */

.form {
    height: 50px;
    position: relative;
    width: 400px;
    height: 50px;
    margin-top: 22px;
}

.form__input {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #777777;
    font-size: 19px;
    padding: 13px 18px;
    transition: all 0.3s ease;
    font-family: 'Manrope';
    color: #181818;
    font-weight: 400;
    line-height: 24px;
    border: 1px solid #777777;
}

.form__label {
    position: absolute;
    left: 15px;
    top: 30%;
    font-size: 19px;
    color: #777777;
    cursor: text;
    transition: 200ms ease-in;
    padding: 0px 5px;
    background: #fff;
    line-height: 100%;
}

.form__input:focus {
    border: 1px solid #181818;
    outline: none;
}

.form__input:focus~.form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus)~.form__label {
    top: -17%;
    font-size: 15px;
    line-height: 100%;
}

.form__input:focus~.form__label {
    color: #181818;
}

.error {
    color: #EC1C1C;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    margin-top: 6px;
}


.submit {
    width: 100%;
    background: #181818;
    height: 50px;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    margin-top: 22px;
}

.reg_form {
    width: 530px;
    padding: 45px 60px;
    background: #FFFFFF;
    border: 1px solid #D0D0D0;
    border-radius: 6px;
}

.form_name {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: #181818;
    margin-bottom: 45px;

}

.submit__blue {
    width: 100%;
    background: #3043EB;
    height: 50px;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forms_container {
    max-width: 400px;
    margin: 0 auto;
}

.form_login_link {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #181818;
    text-align: center;
    margin-top: 45px;
}

/* стиизация форм */