* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background: #e5e5e5;
}
.surname{
    font-size: 22px;
}
.surname_m{
    font-size: 30px;
}
.count{
    color: green;
    font-size: 16px;
    font-weight: 600;
}
p{
    font-size: 16px;
}
.div_orange{
    background-color: lightblue ;
    padding: 50px;
}
.div_blue{
    background-color: lightpink ;
    padding: 50px;
}
.div_red{
    background-color: lightgreen ;
    padding: 50px;
}